# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment
.env
.env.*
venv/
.env/
.soul/.obsidian/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# TTS
engine/TTS/__pycache__/
engine/TTS/output/*
!engine/TTS/output/.gitkeep
engine/TTS/voice-sample/*
!engine/TTS/voice-sample/.gitkeep
engine/TTS/kokoro-v1.0.onnx
engine/TTS/voices-v1.0.bin

# QUOTE VIDEO
engine/quote-video-maker/__pycache__/
engine/quote-video-maker/bg-image/*
!engine/quote-video-maker/bg-image/.gitkeep
engine/quote-video-maker/bg-music/*
!engine/quote-video-maker/bg-music/.gitkeep
engine/quote-video-maker/output/*
!engine/quote-video-maker/output/.gitkeep
engine/quote-video-maker/state.json

# MP4-MP3 CONVERTER
engine/mp4-mp3-converter/__pycache__/
engine/mp4-mp3-converter/output/*
!engine/mp4-mp3-converter/output/.gitkeep

# EXPLAINER VIDEO
engine/explainer-video-maker/__pycache__/
engine/explainer-video-maker/output/*
!engine/explainer-video-maker/output/.gitkeep
engine/explainer-video-maker/assets/video/*
!engine/explainer-video-maker/assets/video/.gitkeep
engine/explainer-video-maker/assets/images/*
!engine/explainer-video-maker/assets/images/.gitkeep
engine/explainer-video-maker/assets/character/*
!engine/explainer-video-maker/assets/character/.gitkeep