<!-- <div class="project-header">
    <div class="project-header-info">
        <h2>{{ title }} {{ status_dot|default('') }} {{ status_label|default('') }}</h2>
        <p class="description">{{ description }}</p>
    </div>
    <button id="activate-btn" class="activate-btn activate" onclick="toggleProjectActiveMode()">{{ activate_text if active_text else 'Activate' }}</button>
</div>

<div id="project-content" class="project-content locked">
    {% block content %}
    {% endblock %}
</div> -->

this is the project header's partials